@model List<WebApplicationCore.Models.ProductModels>


<div class="container">
    <h2>Danh sách sản phẩm</h2>
    <p>The .table-striped class adds zebra-stripes to a table:</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tên san phẩm</th>
                <th>Mã sản phẩm</th>
                <th>Đơn giá</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {


                    <tr>
                        <td>@item.TenSP</td>
                        <td>@item.MaSP</td>
                        <td>@item.DonGia</td>
                        <td><a data-productid="@item.MaSP" data-productname="@item.TenSP" data-price="@item.DonGia" onclick="AddItemToCart(this)"><i class="fa fa-cart">Thêm vào giỏ</i></a></td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
